.symbolBox {stroke:black;stroke-width:0.32;}  /* show the cover of the symbol graphics */
.svgBox {stroke:blue;stroke-width:0.32;}  /* show the entire SVG cover */
.pivotPoint {stroke:red;stroke-width:0.64;}  /* show the pivot/anchor point, 0,0 */
.sl {stroke-linecap:round;stroke-linejoin:round} /* default line style elements */
.f0 {fill:none}  /* no fill */
.fCHRED {fill:#EA5471}
.sCHGRN {stroke:#52E83B}
.sOUTLW {stroke:#000000}
.fOUTLW {fill:#000000}
